* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* menu container */
.menu-container {
    height: 7rem;
    background-color: cadetblue;
}

/* formula container */
.formula-container {
    height: 3rem;
    background-color: darkolivegreen;
}

/* grid container */
.grid-container {
    height: calc(100vh - (7rem + 3rem + 3rem));
    overflow: auto;
    position: relative;
}

.top-row {
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 30px;
}

.row {
    display: flex;
}

.col {
    height: 100%;
    background-color: whitesmoke;
    min-width: 120px;
    border: 0.1rem solid rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.top-left-block {
    height: 30px;
    background-color: lightgray;
    width: 30px;
}

.left-col {
    width: 30px;
}

.left-col-box {
    height: 30px;
    padding-top: 0.2rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(185, 185, 185);
    font-weight: bold;
}

.grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 30px;
}

.row > .col {
    height: 30px;
    background-color: white;
    border: 0.1rem solid lightgray;
    font-weight: 400;
}

/* sheets container */
.sheets-container {
    width: 100%;
    height: 3rem;
    background-color:whitesmoke;
    display: flex;  
    text-align: center;
}

.add-sheet {
    min-width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: 1.2rem;
    color: rgb(46, 44, 44);
    cursor: pointer;
}

.sheet-list {
    display: flex;
    width: 97%;
    overflow: auto;
}

.sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-width: 6rem;
    height: 100%;
    border-left: 0.0001rem solid lightgray;
    border-right: 0;
    cursor: pointer;
    ;
}

.active-sheet {
    background-color: white;
    border-left: 0.1rem solid lightgray;
    border-right: 0.1rem solid lightgray;
    color: darkgreen;
}