* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 0.9rem;
}

body {
    margin: 0;
}

/* ************************************************************ */
/* menu container */
.menu-container {
    height: 7rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
}

.menu-container > * {
    height: 80%;
    width: 20%;
    border-right: 0.15rem solid lightgray;
}

.formatting-container {
    display: flex;
    justify-content: space-around;
}

.subgroup {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subgroup > * {
    width: 100%;
}

.font-formatting-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.font-formatting-container > * {
    width: 30%;
    text-align: center;
    padding: 0.3rem 0;
}

.font-formatting-container > *:hover {
    background-color: #dcdddd;
    color: darkgreen;
}

.font-formatting-container > .active {
    background-color: #b8debe;
    color: darkgreen;
}

.color-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.color-container > * {
    width: 45%;
}

.color-container > *:hover {
    background-color: #dcdddd;
    color: darkgreen;
}

.color-container > *:focus {
    background-color: #b8debe;
    color: darkgreen;
}

.alignment-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignment-container > * {
    width: 15%;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 0.3rem 0;
}

.alignment-container > *:hover {
    color: darkgreen;
    background-color: #dcdddd;
}

.alignment-container > .active {
    color: darkgreen;
    background-color: #b8debe;
}

/* ************************************************************ */
/* formula container */
.formula-container {
    height: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.1rem solid lightgray;
}

.formula-container > * {
    height: 70%;
}

.address-box {
    width: 7%; 
    outline: none;
    padding-left: 0.5rem;
    font-weight: bold;
    border: none;
}

.address-box:hover {
    background-color: #dcdddd;
    color: darkgreen;
}

.address-box:focus {
    outline: 0.15rem solid darkgreen;
    outline-offset: -2px;
}

.separator {
    width: 4%;
    text-align: center;
    padding: 0 0.2rem;
    border-left: 0.15rem solid lightgray;
    border-right: 0.15rem solid lightgray;
    color: rgb(143, 142, 142);
    font-style: italic;
    font-size: 1rem;
    font-family: cursive;
}

.formula-box {
    width: 87%;
    outline: none;
    border: none;
    
}

/* ************************************************************ */
/* grid container */
.grid-container {
    height: calc(100vh - (7rem + 2rem + 3rem));
    overflow: auto;
    position: relative;
}

.top-row {
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 95;
}

.row {
    display: flex;
    min-height: 30px;
}

.col {
    /* height: 100%; */
    background-color: whitesmoke;
    min-width: 120px;
    max-width: 120px;
    border: 0.1rem solid rgb(185, 185, 185);
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* font-weight: bold; */
}

.top-row > .col {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.top-left-block {
    height: 30px;
    background-color: lightgray;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.left-col {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 95;
}

.left-col-box {
    min-height: 30px;
    padding: 0.5rem 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(185, 185, 185);
    font-weight: bold;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 30px;
}

.row > .col {
    min-height: 30px;
    background-color: white;
    border: 0.1rem solid lightgray;
    padding: 0.5rem 0;
}

.row > .col[contenteditable]:focus {
    outline: 0.15rem solid darkgreen;
    outline-offset: -2px;
}

.left-col > .active, .top-row > .active {
    background-color: #b8debe;
    color: darkgreen;
}

/* ************************************************************ */
/* sheets container */
.sheets-container {
    width: 100%;
    height: 3rem;
    background-color:whitesmoke;
    display: flex;  
    text-align: center;
    border-top: 0.1rem solid lightgray;
}

.add-sheet {
    min-width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: 1.2rem;
    color: rgb(46, 44, 44);
    cursor: pointer;
}

.fas:hover {
    color: darkgreen;
}

.sheet-list {
    display: flex;
    width: 97%;
    overflow: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sheet-list::-webkit-scrollbar {
    display: none;
}

.sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-width: 6rem;
    height: 100%;
    border-left: 0.0001rem solid lightgray;
    border-right: 0;
    cursor: pointer;
}

.active-sheet {
    background-color: white;
    border-left: 0.225rem solid lightgray;
    border-right: 0.15rem solid lightgray;
    color: darkgreen;
    font-weight: bold;
}